{% extends "base.html" %}
{% block head %}
{{ super() }}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
{% endblock %}
{% block page_content %}
<section class="section">
    <div class="container">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li><a href="{{ url_for('gj_test.landing') }}">หน้าหลัก</a></li>
                <li><a href="{{ url_for('gj_test.view_tests') }}">ดูข้อมูล</a></li>
                <li class="is-active"><a href="#" aria-current="page">เพิ่มข้อมูล</a></li>
            </ul>
        </nav>
        <div class="columns">
            {% include "messages.html" %}
            <div class="column has-text-centered">
                <h1 class="title">เพิ่มข้อมูลการทดสอบ</h1>
            </div>
        </div>
        <div class="columns">
            <div class="column is-10 is-offset-1">
                <div class="box">
                    <form method="post">
                        {{ form.hidden_tag() }}
                        <div class="field">
                            <label class="label">{{ form.test_name.label }}</label>
                            <div class="control">
                                {{ form.test_name(class="input is-danger") }}
                            </div>
                            <p class="help is-danger">Required</p>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <label class="label">{{ form.code.label }}</label>
                                <div class="control">
                                    {{ form.code(class="input is-danger") }}
                                </div>
                                <p class="help is-danger">Required</p>
                            </div>
                            <div class="field">
                                <label class="label">{{ form.status.label }}</label>
                                <div class="select is-fullwidth">
                                    {{ form.status() }}
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">{{ form.desc.label }}</label>
                            <div class="control">
                                {{ form.desc(class="textarea") }}
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">{{ form.prepare.label }}</label>
                            <div class="control">
                                {{ form.prepare(class="textarea") }}
                            </div>
                        </div>


                        <div class="field">
                            <label class="label">{{ form.specimen.label }}
                                <a href="{{ url_for('gj_test.add_specimen_ref') }}"
                                   class="button is-small is-info is-rounded">
                                       <span class="icon-text">
                                           <span class="icon">
                                               <i class="fa-solid fa-plus"></i>
                                           </span>
                                           <span>เพิ่ม</span>
                                       </span>
                                </a>
                            </label>
                            <div>
                                {{ form.specimen(class="select js-example-basic-multiple", multiple="multiple") }}
                            </div>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <label class="label">{{ form.specimen_quantity.label }}</label>
                                <div class="control">
                                    {{ form.specimen_quantity(class="input") }}
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">{{ form.unit.label }}</label>
                                <div class="select is-fullwidth">
                                    {{ form.unit() }}
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">{{ form.specimen_container.label }}</label>
                            <div class="control">
                                {{ form.specimen_container(class="input") }}
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">{{ form.specimen_transportation.label }}
                                <a href="{{ url_for('gj_test.add_specimen_transportation_ref') }}"
                                   class="button is-small is-info is-rounded">
                                        <span class="icon-text">
                                        <span class="icon">
                                            <i class="fa-solid fa-plus"></i>
                                        </span>
                                        <span>เพิ่ม</span>
                                       </span>
                                </a>
                            </label>
                            <div>
                                {{ form.specimen_transportation(class="select js-example-basic-multiple",
                                multiple="multiple") }}
                            </div>
                        </div>
                            <div class="field">
                                <label class="label">{{ form.drop_off_location.label }}
                                    <a href="{{ url_for('gj_test.add_location_ref') }}"
                                       class="button is-small is-info is-rounded">
                                        <span class="icon-text">
                                            <span class="icon">
                                                <i class="fa-solid fa-plus"></i>
                                            </span>
                                            <span>เพิ่ม</span>
                                       </span>
                                    </a>
                                </label>
                                <div>
                                    {{ form.drop_off_location(class="select js-example-basic-multiple",
                                    multiple="multiple") }}
                                </div>
                            </div>
                        <div class="field">
                            <label class="label">{{ form.solution.label }}</label>
                            <div class="control">
                                {{ form.solution(class="input") }}
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">{{ form.test_date.label }}
                                <a href="{{ url_for('gj_test.add_test_date_ref') }}"
                                   class="button is-small is-info is-rounded">
                                        <span class="icon-text">
                                            <span class="icon">
                                                <i class="fa-solid fa-plus"></i>
                                            </span>
                                            <span>เพิ่ม</span>
                                       </span>
                                </a>
                            </label>
                            <div>
                                {{ form.test_date(class="select js-example-basic-multiple", multiple="multiple") }}
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">{{ form.waiting_time.label }}
                                <a href="{{ url_for('gj_test.add_new_waiting_ref') }}"
                                   class="button is-small is-info is-rounded">
                                    <span class="icon-text">
                                        <span class="icon">
                                            <i class="fa-solid fa-plus"></i>
                                        </span>
                                        <span>เพิ่ม</span>
                                    </span>
                                </a>
                            </label>
                            <div class="select is-fullwidth">
                                {{ form.waiting_time() }}
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">{{ form.reporting_referral_values.label }}</label>
                            <div class="control">
                                {{ form.reporting_referral_values(class="input") }}
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">{{ form.time_period_request.label }}
                                <a href="{{ url_for('gj_test.add_time_period_requested_ref') }}"
                                   class="button is-small is-info is-rounded">
                                        <span class="icon-text">
                                            <span class="icon">
                                                <i class="fa-solid fa-plus"></i>
                                            </span>
                                            <span>เพิ่ม</span>
                                       </span>
                                </a>
                            </label>
                            <div>
                                {{ form.time_period_request(class="select js-example-basic-multiple",
                                multiple="multiple") }}
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">{{ form.interference_analysis.label }}</label>
                            <div class="control">
                                {{ form.interference_analysis(class="input") }}
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">{{ form.caution.label }}</label>
                            <div class="control">
                                {{ form.caution(class="input") }}
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">{{ form.test_location.label }}
                                <a href="{{ url_for('gj_test.add_location_ref') }}"
                                   class="button is-small is-info is-rounded">
                                    <span class="icon-text">
                                        <span class="icon">
                                            <i class="fa-solid fa-plus"></i>
                                        </span>
                                        <span>เพิ่ม</span>
                                    </span>
                                </a>
                            </label>
                            <div>
                                {{ form.test_location(class="select js-example-basic-multiple", multiple="multiple") }}
                            </div>
                        </div>
                        <br>
                        <div class="field is-grouped is-grouped-centered">
                            <div class="buttons">
                                <button class="button is-success" type="submit" value="submit">บันทึก</button>
                                <a href="{{ url_callback }}"
                                   class="button is-danger">ยกเลิก</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
    $(document).ready(() => {
        $('.js-example-basic-multiple').select2({
            width: '1075px',
        });
    });
</script>
{% endblock %}