{% extends "base.html" %}
{% block head %}
{{ super() }}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
{% endblock %}
{% block page_content %}
{% include "gj_test/nav.html" %}
<section class="section">
    <div class="container">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li><a href="{{ url_for('gj_test.view_tests') }}">ดูข้อมูล</a></li>
                <li class="is-active"><a href="#" aria-current="page">เพิ่มข้อมูล</a></li>
            </ul>
        </nav>
        {% include "messages.html" %}
        <div class="columns">
            <div class="column has-text-centered">
                <h1 class="title">เพิ่มข้อมูลการทดสอบ</h1>
            </div>
        </div>
        <div class="columns">
            <div class="column is-10 is-offset-1">
                <div class="box">
                    <form id="specimens_form" hx-post="{{ url_for('gj_test.add_specimens') }}"
                          hx-target="#specimen_list" hx-swap="innerHTML">
                        <input type="hidden" value="{{ csrf_token() }}" name="csrf_token">
                        <div class="field">
                            <label class="label">ชนิดสิ่งส่งตรวจ</label>
                            <select class="js-example-basic-multiple" id="specimens" name="specimens"></select>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <label class="label">ภาชนะสิ่งส่งตรวจ</label>
                                <div class="control">
                                    <select class="js-example-basic-single" id="specimen_container"
                                            name="specimen_container">
                                    </select>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">ปริมาณสิ่งส่งตรวจ</label>
                                <div class="control">
                                    <select class="js-example-basic-single" id="quantity"
                                            name="quantity">
                                    </select>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">หน่วย</label>
                                <div class="control">
                                    <select class="js-example-basic-single" id="unit"
                                            name="unit">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="field"><br>
                            <div class="buttons is-centered">
                                <button class="button is-success" type="submit" value="Add">
                                    <span class="icon">
                                        <i class="fas fa-plus-circle"></i>
                                    </span>
                                    <span>เพิ่มสิ่งส่งตรวจ</span>
                                </button>
                            </div>
                        </div>
                    </form>
                    <hr>
                    <form method="post">
                        {{ form.hidden_tag() }}
                        <div class="field">
                            <label class="label">{{ form.test_name.label }}</label>
                            <div class="control">
                                {{ form.test_name(class="input is-danger") }}
                            </div>
                            <p class="help is-danger">Required</p>
                        </div>
                        <label class="label">รายการสิ่งส่งตรวจ (specimens)</label>
                        <div id="specimen_list" class="field">
                            <table class="table is-fullwidth is-narrow is-striped is-bordered">
                                <thead>
                                <th>ชนิด</th>
                                <th>ภาชนะ</th>
                                <th>ปริมาณ</th>
                                <th></th>
                                </thead>
                                <tbody>
                                {% for sp, c, q, u in session['specimens_list'] %}
                                <tr>
                                    <td>{{ sp }}</td>
                                    <td>{{ c }}</td>
                                    <td>{{ q }} {{ u }}</td>
                                    <td>
                                        <button class="button is-rounded is-small is-danger"
                                                hx-headers='{"X-CSRFToken": "{{ csrf_token() }}" }'
                                                hx-confirm="Are you sure you wish to delete this specimens source?"
                                                hx-target="#specimen_list"
                                                hx-swap="innerHTML"
                                                hx-delete="{{ url_for('gj_test.delete_specimens', ind=loop.index0, test_id=test.id or None)}}">
                                            <span class="icon">
                                                <i class="fas fa-trash-alt"></i>
                                            </span>
                                        </button>
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <label class="label">{{ form.code.label }}</label>
                                <div class="control">
                                    {{ form.code(class="input is-danger") }}
                                </div>
                                <p class="help is-danger">Required</p>
                            </div>
                            <div class="field">
                                <label class="label">{{ form.status.label }}</label>
                                <div class="select is-fullwidth">
                                    {{ form.status() }}
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">{{ form.desc.label }}</label>
                            <div class="control">
                                {{ form.desc(class="textarea") }}
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">{{ form.prepare.label }}</label>
                            <div class="control">
                                {{ form.prepare(class="textarea") }}
                            </div>
                        </div>
                        <div class="field"><br>
                            <label class="label">วัน/เวลาการนำส่งสิ่งส่งตรวจ</label>
                            <div class="control">
                                <select class="js-example-basic-single" id="specimen_transportation"
                                        name="specimen_transportation">
                                    {% if test %}
                                    <option value="{{ test.specimen_transportation }}" selected="selected">{{
                                        test.specimen_transportation }}
                                    </option>
                                    {% endif %}
                                </select>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">สถานที่</label>
                            <select class="js-example-basic-single" id="drop_off_location"
                                    name="drop_off_location">
                                {% if test %}
                                <option value="{{ test.drop_off_location }}" selected="selected">{{
                                    test.drop_off_location }}
                                </option>
                                {% endif %}
                            </select>
                        </div>
                        <div class="field">
                            <label class="label">{{ form.solution.label }}</label>
                            <div class="control">
                                {{ form.solution(class="textarea") }}
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">วันที่ทำการทดสอบ</label>
                            <select class="js-example-basic-single" id="test_date"
                                    name="test_date">
                                {% if test %}
                                <option value="{{ test.test_date }}" selected="selected">{{ test.test_date }}</option>
                                {% endif %}
                            </select>
                        </div>
                        <div class="field">
                            <label class="label">ระยะเวลารอผล(ปกติ)</label>
                            <select class="js-example-basic-single" id="normal_waiting_time"
                                    name="normal_waiting_time">
                                {% if test %}
                                <option value="{{ test.waiting_period.waiting_time_normal }}" selected="selected">
                                    {{ test.waiting_period.waiting_time_normal }}
                                </option>
                                {% endif %}
                            </select>
                        </div>
                        <div class="field">
                            <label class="label">ระยะเวลารอผล(ด่วน)</label>
                            <select class="js-example-basic-single" id="urgent_waiting_time"
                                    name="urgent_waiting_time">
                                {% if test %}
                                <option value="{{ test.waiting_period.waiting_time_urgent }}" selected="selected">
                                    {{ test.waiting_period.waiting_time_urgent }}
                                </option>
                                {% endif %}
                            </select>
                        </div>

                        <div class="field">
                            <label class="label">{{ form.reporting_referral_values.label }}</label>
                            <div class="control">
                                {{ form.reporting_referral_values(class="textarea") }}
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <label class="label">ระยะเวลาที่สามารถขอตรวจเพิ่มได้</label>
                                <select class="js-example-basic-single" id="time_period_request"
                                        name="time_period_request">
                                    {% if test %}
                                    <option value="{{ test.time_period_request }}" selected="selected">{{
                                        test.time_period_request }}
                                    </option>
                                    {% endif %}
                                </select>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">{{ form.interference_analysis.label }}</label>
                            <div class="control">
                                {{ form.interference_analysis(class="textarea") }}
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">{{ form.caution.label }}</label>
                            <div class="control">
                                {{ form.caution(class="textarea") }}
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <label class="label">สถานที่ทดสอบ</label>
                                <select class="js-example-basic-single" id="test_location"
                                        name="test_location">
                                    {% if test %}
                                    <option value="{{ test.test_location }}" selected="selected">{{ test.test_location
                                        }}
                                    </option>
                                    {% endif %}
                                </select>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">{{ form.outsource_lab_test_url.label }}</label>
                            <div class="control">
                                {{ form.outsource_lab_test_url(class="textarea") }}
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">{{ form.request_form_url.label }}</label>
                            <div class="control">
                                {{ form.request_form_url(class="textarea") }}
                            </div>
                        </div>
                        <br>
                        <div class="field is-grouped is-grouped-centered">
                            <div class="buttons">
                                <a href="{{ url_next or url_for('gj_test.index') }}" class="button is-danger">ยกเลิก</a>
                                <button class="button is-success" type="submit" value="submit">บันทึก</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
    $(document).ready(() => {
        $('#specimens').select2({
            width: '100%',
            tags: true,
            ajax: {
                url: "{{ url_for('gj_test.get_all_specimens') }}",
                dataType: "json"
            }
        });
        $('#quantity').select2({
            width: '100%',
            tags: true,
            ajax: {
                url: "{{ url_for('gj_test.get_all_specimen_quantity') }}",
                dataType: "json"
            }
        });
        $('#unit').select2({
            width: '100%',
            tags: true,
            ajax: {
                url: "{{ url_for('gj_test.get_all_specimens_unit') }}",
                dataType: "json"
            }
        });
        $('#specimen_container').select2({
            width: '100%',
            tags: true,
            ajax: {
                url: "{{ url_for('gj_test.get_all_containers') }}",
                dataType: "json"
            }
        });
        $('#specimen_transportation').select2({
            width: '100%',
            tags: true,
            ajax: {
                url: "{{ url_for('gj_test.get_all_specimen_transportations') }}",
                dataType: "json"
            }
        });
        $('#drop_off_location').select2({
            width: '100%',
            tags: true,
            ajax: {
                url: "{{ url_for('gj_test.get_all_drop_off_locations') }}",
                dataType: "json"
            }
        });
        $('#test_date').select2({
            width: '100%',
            tags: true,
            ajax: {
                url: "{{ url_for('gj_test.get_all_test_dates') }}",
                dataType: "json"
            }
        });
        $('#normal_waiting_time').select2({
            width: '100%',
            tags: true,
            ajax: {
                url: "{{ url_for('gj_test.get_all_waiting_time', mode='normal') }}",
                dataType: "json"
            }
        });
        $('#urgent_waiting_time').select2({
            width: '100%',
            tags: true,
            ajax: {
                url: "{{ url_for('gj_test.get_all_waiting_time', mode='urgent') }}",
                dataType: "json"
            }
        });
        $('#time_period_request').select2({
            width: '100%',
            tags: true,
            ajax: {
                url: "{{ url_for('gj_test.get_all_time_period_requests') }}",
                dataType: "json"
            }
        });
        $('#test_location').select2({
            width: '100%',
            tags: true,
            ajax: {
                url: "{{ url_for('gj_test.get_all_test_locations') }}",
                dataType: "json"
            }
        });

    });
</script>
<script>
    $('#reporting_referral_values').summernote({
        placeholder: 'Hello stand alone ui',
        tabsize: 2,
        height: 120,
        toolbar: [
            ['style', ['style']],
            ['font', ['bold', 'underline', 'clear']],
            ['color', ['color']],
            ['para', ['ul', 'ol', 'paragraph']],
            ['table', ['table']],
            ['insert', ['link', 'picture', 'video']],
            ['view', ['fullscreen', 'codeview', 'help']]
        ]
    });
</script>
<script>
    function onClearInput() {
        $('#specimens').val(null).trigger('change');
        $('#specimen_container').val(null).trigger('change');
        $('#quantity').val(null).trigger('change');
        $('#unit').val(null).trigger('change');
    }

    document.addEventListener('clearInput', onClearInput)
</script>
{% endblock %}