{% extends "base.html" %}
{% block title %}Specimen Transportation Reference Page{% endblock %}
{% block page_content %}
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column has-text-centered">
                <h1 class="title">เพิ่มวัน/เวลาการนำส่งสิ่งส่งตรวจ</h1>
            </div>
        </div>
        <div class="columns">
            <div class="column is-half is-offset-one-quarter">
                <div class="box">
                <form method="post">
                    {{ form.hidden_tag() }}
                    <div class="field">
                        <label class="label">{{ form.specimen_date_time.label }}</label>
                        <div class="control">
                            {{ form.specimen_date_time(class="input") }}
                        </div>
                    </div>
                    <br>
                    <div class="field is-grouped is-grouped-centered">
                        <div class="buttons">
                            <button class="button is-success" type="submit" value="submit">บันทึก</button>
                            <a href="{{ url_callback }}" class="button is-danger">ยกเลิก</a>
                        </div>
                    </div>
                    <hr>
                    </form>
                </div>
             </div>
        </div>
    </div>
</section>
{% endblock %}