{% extends "base.html" %}
{% block page_content %}
{% block head %}
{{ super() }}
<script src="sweetalert2.min.js"></script>
<link rel="stylesheet" href="sweetalert2.min.css">
{% endblock %}
<section class="section">
    {% include "messages.html" %}
    <div class="container">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li><a href="{{ url_for('gj_test.landing') }}">หน้าหลัก</a></li>
                <li class="is-active"><a href="#" aria-current="page">ดูข้อมูล</a></li>
            </ul>
        </nav>
        <div class="columns">
            <div class="column has-text-centered">
                <h1 class="title">รายการทดสอบ</h1>
                <div class="buttons">
                    <a href="{{ url_for('gj_test.add_test') }}" class="button is-info">New Tests</a>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <table id="data" class="table is-fullwidth is-striped">
                    <thead>
                    <th bgcolor="#B4DCFC">รหัสทดสอบ</th>
                    <th bgcolor="#B4DCFC">ชื่อการทดสอบ</th>
                    <th bgcolor="#B4DCFC">สิ่งส่งตรวจ</th>
                    <th bgcolor="#B4DCFC">ระยะเวลารอผลปกติ</th>
                    <th bgcolor="#B4DCFC">รายละเอียด</th>
                    <th bgcolor="#B4DCFC">Edit</th>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <a href="{{ url_callback }}" class="button is-rounded is-info is-light">
                    <span>กลับ</span>
                </a>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block scripts %}
{{ super() }}
<script>
    $(document).ready(function () {
        $('#data').DataTable({
            searchDelay: 350,
            ajax: '{{ url_for("gj_test.get_tests_view_data") }}',
            serverSide: true,
            columns: [
                {data: 'code'},
                {data: 'test_name'},
                {data: 'specimens'},
                {data: 'waiting_period'},
                {data: 'view'},
                {data: 'edit'}

            ],
        });
    });
</script>
{% endblock %}