{% extends "base.html" %}

{% block head %}
{{ super() }}
{% endblock %}

{% block page_content %}
{% include "gj_test/nav.html" %}
<section class="section">
    {% include "messages.html" %}
    <div class="container">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li><a href="{{ url_for('gj_test.landing') }}">หน้าหลัก</a></li>
                <li class="is-active"><a href="#" aria-current="page">ดูข้อมูล</a></li>
            </ul>
        </nav>
        <div class="columns">
            <div class="column has-text-centered">
                <h1 class="title">รายการทดสอบ</h1>
                <div class="buttons">
                    <a href="{{ url_for('gj_test.add_test') }}" class="button is-info is-outlined">เพิ่มรายการทดสอบ</a>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <table id="data" class="table is-fullwidth is-striped">
                    <thead>
                    <th>รหัสทดสอบ</th>
                    <th>ชื่อการทดสอบ</th>
                    <th>สิ่งส่งตรวจ</th>
                    <th>ระยะเวลารอผลปกติ</th>
                    <th>รายละเอียด</th>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="columns">
            <div class="column has-text-centered">
                <a href="{{ url_for('gj_test.landing') }}" class="button is-light">
                    <span>กลับ</span>
                </a>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block scripts %}
{{ super() }}
<script>
    $(document).ready(function () {
        $('#data').DataTable({
            searchDelay: 350,
            ajax: '{{ url_for("gj_test.get_tests_view_data") }}',
            serverSide: true,
            columns: [
                {data: 'code'},
                {data: 'test_name'},
                {data: 'specimens'},
                {data: 'waiting_period'},
                {data: 'view'},
            ],
        });
    });
</script>
{% endblock %}