{% extends "base.html" %}
{% block head %}
{{ super() }}
<style>
    tr:nth-child(even) {
        background-color: #e6f4fc;
    }
</style>
{% endblock %}

{% block page_content %}
<section class="section">
    <div class="container">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('gj_test.landing') }}">หน้าหลัก</a></li>
                <li><a href="{{ url_for('gj_test.add_test', test_id=test.id) }}">แก้ไขข้อมูล</a></li>
                {% else %}
                <li><a href="{{ url_for('gj_test.index') }}">หน้าหลัก</a></li>
                {% endif %}
                <li class="is-active"><a href="#" aria-current="page">ข้อมูล</a></li>
            </ul>
        </nav>
        <div class="columns">
            <div class="column has-text-centered">
                <h1 class="title">รายละเอียดการทดสอบ</h1>
                {% if current_user.is_authenticated %}
                <div class="buttons is-centered">
                    <a href="{{ url_for('gj_test.view_tests') }}" class="button is-rounded is-light">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span>กลับ</span>
                    </a>
                    <a class="button is-rounded is-warning" href="{{ url_for('gj_test.add_test', test_id=test.id) }}">
                        <span class="icon">
                            <i class="fas fa-pencil-alt"></i>
                        </span>
                        <span>แก้ไขข้อมูล</span>
                    </a>
                    <a href="{{ url_for('gj_test.delete_test', test_id=test.id) }}"
                       class="button is-rounded is-danger">
                        <span class="icon">
                            <i class="fas fa-trash-alt"></i>
                        </span>
                        <span>ลบ</span>
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="columns">
            <div class="column has-text-centered is-two-thirds is-offset-2">
                <div class="card">
                    <div class="card-content">
                        <table class="table is-bordered is-fullwidth">
                            <colgroup>
                                <col span="1" style="width: 25%;">
                                <col span="1" style="width: 75%;">
                            </colgroup>
                            {% if revision_index %}
                            <tr>
                                <td><label class="label">Revision Number</label></td>
                                <td class="has-text-danger">{{ revision_index }}</td>
                            </tr>
                            <tr>
                                <td><label class="label">วันที่และเวลาที่แก้ไข</label></td>
                                <td class="has-text-danger">{{ test.updated_at|localdatetime }} by {{test.updater}}</td>
                            </tr>
                            {% endif %}
                            <tr>
                                <td><label class="label">การทดสอบ</label></td>
                                <td>{{ test.test_name }}</td>
                            </tr>
                            <tr>
                                <td><label class="label">รหัส</label></td>
                                <td>{{ test.code }}</td>
                            </tr>
                            <tr>
                                <td><label class="label">ข้อบ่งชี้ในการส่งตรวจ</label></td>
                                <td>{{ test.desc }}</td>
                            </tr>
                            <tr>
                                <td><label class="label">การเตรียมผู้ป่วย</label></td>
                                <td>{{ test.prepare }}</td>
                            </tr>
                            <tr>
                                <td><label class="label">สิ่งส่งตรวจ</label></td>
                                <td>
                                    <table class="table is-fullwidth">
                                        <thead>
                                        <th>ชนิด</th>
                                        <th>ปริมาณ</th>
                                        <th>หน่วย</th>
                                        <th>ภาชนะ</th>
                                        </thead>
                                        {% for sp in test.specimens_source %}
                                        <tr>
                                            <td>{{ sp.specimens }}</td>
                                            <td>{{ sp.specimen_quantity }}</td>
                                            <td>{{ sp.specimens_unit }}</td>
                                            <td>{{ sp.specimen_container }}</td>
                                        </tr>
                                        {% endfor %}
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="label">วัน/เวลา</label></td>
                                <td>{{ test.specimen_transportation.specimen_date_time }}</td>
                            </tr>
                            <tr>
                                <td><label class="label">สถานที่</label></td>
                                <td>{{ test.drop_off_location.location }}</td>
                            </tr>
                            <tr>
                                <td><label class="label">วิธี/หลักการ</label></td>
                                <td>{{ test.solution }}</td>
                            </tr>
                            <tr>
                                <td><label class="label">วันที่ทำการทดสอบ</label></td>
                                <td>{{ test.test_date.test_date }}</td>
                            </tr>
                            <tr>
                                <td><label class="label">ระยะเวลารอผล(ปกติ)</label></td>
                                <td>{{ test.waiting_period.waiting_time_normal }}</td>
                            </tr>
                            <tr>
                                <td><label class="label">ระยะเวลารอผล(ด่วน)</label></td>
                                <td>{{ test.waiting_period.waiting_time_urgent }}</td>
                            </tr>
                            <tr>
                                <td><label class="label">การรายงานผลและค่าอ้างอิง</label></td>
                                <td>{{ test.reporting_referral_values|safe }}</td>
                            </tr>
                            <tr>
                                <td><label class="label">ระยะเวลาที่สามารถขอตรวจเพิ่มได้</label></td>
                                <td>{{ test.time_period_request.time_period_request }}</td>
                            </tr>
                            <tr>
                                <td><label class="label">สิ่งรบกวนต่อการตรวจวิเคราะห์</label></td>
                                <td>{{ test.interference_analysis }}</td>
                            </tr>
                            <tr>
                                <td><label class="label">ข้อควรระวังและอื่นๆ</label></td>
                                <td>{{ test.caution }}</td>
                            </tr>
                            <tr>
                                <td><label class="label">สถานที่ทำการทดสอบ</label></td>
                                <td>{{ test.test_location.location }}</td>
                            </tr>
                            <tr>
                                <td><label class="label">ราคา (เบิกไม่ได้)</label></td>
                                <td>{{ test.non_reimbursable_price or '-' }} บาท</td>
                            </tr>
                            <tr>
                                <td><label class="label">ราคา (เบิกได้)</label></td>
                                <td>{{ test.reimbursable_price or '-' }} บาท</td>
                            </tr>
                            <tr>
                                <td><label class="label">Status</label></td>
                                <td>{{ test.status }}</td>
                            </tr>
                            {% if test.outsource_lab_test_url %}
                            <tr>
                                <td><label class="label">Request Form</label></td>
                                <td>
                                    <a href="{{ test.request_form_url or test.outsource_lab_test_url }}" class="button is-rounded is-primary">
                                    <span class="icon">
                                        <i class="fas fa-download"></i>
                                    </span><span>Download</span>
                                    </a>
                                </td>
                            </tr>
                            {% endif %}
                            {% if current_user.is_authenticated and revision_index == None %}
                            <tr>
                                <td><label class="label">ประวัติการแก้ไข</label></td>
                                <td>
                                    <table>
                                        <thead>
                                        <th>Version</th>
                                        <th>Updated at</th>
                                        <th>Updated by</th>
                                        <th></th>
                                        </thead>
                                        {% for ver in test.versions %}
                                        <tr>
                                            <td>{{loop.index0}}</td>
                                            <td>{{ver.updated_at|localdatetime}}</td>
                                            <td>{{ver.updater}}</td>
                                            <td>
                                                <a href="{{url_for('gj_test.view_info_test', revision_index=loop.index0, test_id=test.id)}}">view</a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </table>
                                </td>
                            </tr>
                            {% endif %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}